.headshot {
    border-radius: 10%;
    border: 1px rgb(244, 255, 248) solid;
}

body {
    background-color: rgb(0, 21, 11);
    color: rgb(244, 255, 248);
    font-family: "Oswald", sans-serif;
    font-size: larger;
    text-align: center;
    

}


#title-1 {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(244, 255, 248);
    font-size: 300%;
    text-decoration: underline;
    font-weight: bolder;  
    text-align: center;

}


.header-1 {
    font-family: "Bebas Neue", sans-serif;
    color:rgb(139, 170, 173);
    font-size: 300%;
    text-decoration: underline;
    font-weight: bolder;  
}

.header-2 {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: underline;
    color: rgb(139, 170, 173);
    font-weight: bold;
}

.header-3 {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(73, 140, 141);
    font-size: 140%;
}

#coursework {
    font-weight: bold;
    text-decoration: underline;
}

.resume-bg{ 
    background-image: linear-gradient(rgb(121, 116, 115), rgb(140, 156, 177)) ;
    border: 3px rgb(244, 255, 248) solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: max-content;
    text-align: center;
    margin: auto;
}

.github {
    border: 1px rgb(244, 255, 248) solid;
}

.tab-button {
    background-color: rgb(71, 105, 151);
    border: none;
    padding: 10px;
    margin: 5px;
    outline: none;
    border-radius: 5%;
    border: 1px rgb(244, 255, 248) solid;
}

.tab-button:hover {
    background-color: rgb(244, 255, 248);
}

.tab-button.active {
    /* only be applied to element with class tab-button and class active */
    background-color: rgb(73, 140, 141);
}

#tabs {
    background-image: linear-gradient(rgb(115, 115, 121), rgb(140, 156, 177)) ;
    border: 1px rgb(244, 255, 248) solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: fit-content;
    text-align: center;
    margin: auto; 
}

