body {
    background-color: rgb(226, 161, 219);
    font-family: "Bebas Neue", sans-serif;
    font-size: larger;
}


h1 {
    font-family: "Cute Font", sans-serif;
    font-size: 350%;
    filter: drop-shadow(5px 5px 5px black);
}


.bootpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    filter: drop-shadow(5px 5px 2px lavenderblush);
    
}

.form-label {
    text-decoration: underline;
    filter: drop-shadow(1px 1px 1px white);
}