body {
    background-color: rgb(226, 161, 219);
    font-family: "Bebas Neue", sans-serif;
    font-size: larger;
}


h1 {
    font-family: "Cute Font", sans-serif;
    font-size: 350%;
}


.bootpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

