<h1>Body Mass Index Calculator</h1>
<h2>Enter your data:</h2>

 <div class="col-md-7"></div>
    <form method="POST" action="/submit-bmi">
        <label class="form-label" for="height">Enter height in meters</label>
        <input class="form-control" id="height" name="height" type="number" placeholder="0.0" step="0.01" min="0" max="1000" required>
        <br>
        <labelclass="form-label" for="weight">Enter weight in kg</label>
        <input class="form-control" id="weight" name="weight" type="number" placeholder="0.0" step="0.01" min="0" max="1000" required>
        <br>
        <input class="btn btn-primary" type="submit">
    </form>
 </div> 