<h1>Body Mass Index Calculator</h1>
<h2>Enter your data:</h2>

<form>
    <label>Enter height in meters</label>
    <input name="height">
    <br>
    <label>Enter weight in kg</label>
    <input name="weight">
    <br>
    <input type="submit">
</form>